.wrapper {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 2.3rem;
  padding-right: 2.1rem;
}

.white-background {
  background: #ffffff;
}

.help-text {
  &--white-text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $t-white;
  }
}
.text-nowrap {
  white-space: nowrap;
}
@mixin flexible() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bread-item-link {
  color: $dark-gray;

  &:last-of-type {
    color: #797979;
  }
}
