@import "normalize";
@import "fonts";
@import "colors";
@import "sprite";
@import "items";
@import "product-page";
@import "mainpage";
@import "media";
@import "./fomr-styler";
@import "slick";

@import "./templates/_sprite_template";

html {
  font-size: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

*::before,
::after {
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #eff0f4;
}

@import "media";
