#root {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: $t-black;
}

.header-site {
  padding: 2.2rem 2.1rem 2.4rem;
  background: $t-white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__change-lang {
    margin-left: 2.6rem;
  }
}

.logo-header {
  width: 26rem;
  height: 3.6rem;
}

.help {
  display: flex;

  &__link {
    display: flex;
    align-items: center;

    &:first-of-type {
      padding-right: 2rem;
    }
  }
}

.header-nav {
  display: flex;
}

.help-pic {
  padding-right: 0.6rem;
}

.header-righd-side {
  display: flex;
}

.header-righd-side__item {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: $dark-purple;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.8rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.find-block {
  background: $t-purple;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 2.4rem 5.6rem 2.6rem 5.6rem;
  display: flex;
  justify-content: space-between;
}

.input-item {
  width: 100%;
  background: #ffffff;
  border-radius: 0.3rem;
  height: 4rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-left: 2rem;

  color: $t-black;
  border: none !important;
  outline: none !important;
}

.search-field {
  position: relative;
  max-width: 45.1rem;
  width: 100%;
}

.input-pic {
  position: absolute;
  right: 1.4rem;
  top: 25%;
}

.all-category {
  max-width: 21.6rem;
  width: 100%;
}

.find-form {
  width: 100%;
}

.find-form-wrap {
  display: flex;

  &__item {
    margin-right: 2.1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.catalog-category {
  display: flex;
  align-items: center;
}

.btn-wrap {
  width: 9.7rem;
}

.btn-item {
  background: $dark-purple;
  border-radius: 3px;
  height: 4rem;
  width: 100%;
  border: none !important;
  outline: none !important;
  color: white;
}

.user-login {
  display: flex;
}

.user-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 2.6rem;

  &__item {
    padding-bottom: 0.5rem;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.category-list {
  padding: 1.5rem 0 2.9rem 2.4rem;
  position: relative;
}

.category-headline {
  &__item {
    padding-right: 1.3rem;

    &:nth-last-child(-n + 1) {
      padding-right: 0;
      color: $dark-gray;
      display: inline-block;
      border-bottom: 0.1rem solid $dark-gray;
    }
  }
}

.category-wrap {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.nav-category-list {
  display: flex;
  flex-direction: column;
}

.category-link {
  padding-bottom: 1.8rem;
  display: flex;
  align-items: center;

  &:last-of-type {
    padding-bottom: 0;
  }

  &__pic {
    max-width: 3.1rem;
    width: 100%;
    @include flexible();
  }

  &__text {
    padding-left: 1.7rem;
  }
}

.hide-slider {
  overflow: hidden;
}

.commiercial-ad {
  display: flex;
  align-items: flex-start;

  &__item {
    margin-right: 1.3rem;
  }
}

.commercial-banner {
  display: flex;
  align-items: flex-end;
  max-height: 40.8rem;
  height: 100%;
  background: linear-gradient(180deg, #e7deff 0%, rgba(198, 198, 198, 0) 100%);

  &__item {}
}

.commercial-pic {
  display: block;
}

.slider-main-init {
  position: relative;
  max-width: 81rem;

  .slick-dots {
    display: flex;
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    li {
      margin-right: 1.2rem;

      &.slick-active {
        background: $t-white;
      }

      // width: 1.4rem;
      // height: 1.4rem;
      border-radius: 50%;

      &:last-of-type {
        margin-right: 0;
      }

      button {
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        cursor: pointer;
        background: transparent;
        outline: none;
        font-size: 0;
        line-height: 0;
        border: 1px solid $t-white;
      }
    }
  }
}

.products-groups {
  margin-top: 4rem;

  padding-bottom: 4.8rem;

  &__headline-pad,
  &__product-pad {
    padding-top: 5rem;
  }

  &__max-width-text {
    max-width: 26rem;
    width: 100%;
  }
}

.headline-products {
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 3.1rem;
  text-align: center;
}

.products-groups-list {
  display: flex;
  justify-content: space-between;

  &__item {
    position: relative;
    width: 33.4rem;
    height: 33.7rem;
    @include flexible();
  }
}

.product-group-desc {
  display: inline-block;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: $t-white;
  width: min-content;
  position: absolute;
}

.new-product {
  margin-top: 4rem;

  &__headline-pad {
    padding-top: 4.3rem;
  }

  &__new-product-pad {
    padding-top: 4.8rem;
  }
}

.new-product-item {
  max-width: 21.6rem;
  height: 33.5rem;

  &__favorite {
    display: none;
    justify-content: space-between;
    align-items: center;
  }

  &__prev {
    background: #eff0f4;

    height: 21.6rem;
    @include flexible();
  }

  &__padding-price {
    margin-top: 1.3rem;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name-product-pad {
    margin-top: .5rem;
  }

  &__favorite-margin {
    margin-bottom: .7rem;
  }

  &:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    max-width: 23.7rem;
    height: 37.5rem;
    z-index: 1;
    position: relative;

    .new-product-item__favorite-margin {
      display: flex;
    }

  }
}

.new-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-price {
  padding: .5rem;
  background: $dark-purple;
  border-radius: .3rem;
  color: $t-white;
}

.main-footer {
  margin-top: 3.8rem;
  background: $m-gray;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: $t-black;

  &__padding-list{
    padding-top: 4.7rem;
    padding-bottom: 2.9rem;
    border-bottom: .1rem solid #979797;
  }

  &__copy-pad{
    padding-top: 3rem;
    padding-bottom: 6.4rem;
  }


}

.footer-copyright{
  text-align: center;
}

.footer-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social{
  display: flex;

  &__link{
    padding-right: 1.2rem;

    &:last-of-type{
      padding-right: 0;
    }
  }
}

.footer-item {

}

.footer-nav {
  display: flex;
  flex-direction: column;
  max-width: 16.7rem;

  &__nav-padding{
    padding-top: 1.9rem;
  }
  &__headline {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  &__link {
    

    &:last-of-type {
      
    }
  }
}