@media all and (max-width:1920px) {

}

@media all and (max-width:1440px) {

}

@media all and (max-width:1170px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:992px) {

}

@media all and (max-width:768px) {

}

@media all and (max-width:480px) {

}

@media all and (max-width:320px) {
  
}

