.product-page {
  margin-top: 2.3rem;
}
.product-description-wrapper {
  margin-top: 1.3rem;
  display: flex;

  &__desc-margin {
    margin-left: 2rem;
  }
}

.slider-small-size {
  max-width: 45.1rem;
  width: 100%;
}
.slide-big-size {
  width: 45.1rem;
  height: 45.1rem;
  @include flexible();

  img {
    width: 100%;
  }
}
.slide-small-size {
  width: 9.8rem;
  height: 9.8rem;
  @include flexible();

  img {
    width: 100%;
  }
}

.slider-small-size {
  .slick-current {
    .slide-small-size {
      border: 2px solid #969696;
    }
  }
}

.slider-big-size {
  position: relative;
  z-index: 1;
  max-width: 45.1rem;

  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 4rem;
    height: 4rem;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    z-index: 2;
    transform: rotate(45deg);
    margin-top: -2rem;
  }

  .slick-prev {
    border-left: 3px solid #aeaeae;
    border-bottom: 3px solid #aeaeae;
    left: 2rem;
  }

  .slick-next {
    right: 2rem;

    border-right: 3px solid #aeaeae;
    border-top: 3px solid #aeaeae;
  }
}
.product-description-list {
  max-width: 68.7rem;
  width: 100%;
}
.product-description-name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #333333;
  padding-bottom: 1.7rem;
  width: 100%;
}

.border-item {
  border-bottom: 0.1rem solid #cacaca;
  padding-left: 2.5rem;
  width: 100%;
}
.form-product {
  display: flex;
  width: 100%;
}

.product-price-list {
  font-weight: 600;
}
.product-price-new {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.product-price-old {
  font-size: 2rem;
  line-height: 2.4rem;
  text-decoration-line: line-through;
  color: #bcbcbc;
}
.product-price-wrap {
  padding-top: 1.8rem;
  padding-bottom: 2.4rem;
  display: flex;
  align-items: center;
}
.product-price-list-item {
  margin-right: 2.2rem;

  &:last-of-type {
    margin-right: 0;
  }
}
